<b>NEW FEATURE:</b>

You can now receive notifications about new <b>Binance Launchpad</b> projects. These appear at https://launchpad.binance.com.

The commands to set up and turn off notifications:

/subscribe_launchpad
/unsubscribe_launchpad

There are usually only up to 15 launchpad projects during a year, therefore it's recommended to set these notifications up.

This feature, like many previously added features, was requested by users of the bot. If you have any suggestions about potential new features you can always contact me at @rdruska . This project wouldn't exist without your feedback and support.