New currency staking option has just appeared on Binance !

Currency: {{ name }}

Staking options:

{{ #projects }}
Duration: {{ duration }}
Est. APY: {{ config.annualInterestRate }}
Daily interest rate: {{ config.dailyInterestRate }}

{{ /projects}}

To change notifications settings, fill in the form on https://bswatcher.com and your current settings will be overwritten.

To unsubscribe, click the following link:

{{{ unsubscribeUrl }}}

--
https://bswatcher.com