<b>ANNOUNCEMENT</b>

I have created a new bot that powers notifications channel for Polymarket ( https://polymarket.com ), website where you can bet on a prediction markets with crypto.

You can check out the channel here: @polymarket_alerts

If you have any questions, you can always contact me at @rdruska .