New lending activity has just appeared on Binance !

Currency: {{ asset }}

Project name: {{ projectName }}
Duration: {{ duration }}
Interest rate: {{ interestRate }}

Lot size: {{ lotSize }}
Max lots per user: {{ maxLotsPerUser }}
Lots up limit: {{ lotsUpLimit }}

See it at https://www.binance.com/en/savings#lending-activity .

To change notifications settings, fill in the form on https://bswatcher.com and your current settings will be overwritten.

To unsubscribe, click the following link:

{{{ unsubscribeUrl }}}

--
https://bswatcher.com
