New activity staking option has just appeared on Binance !

Currency: {{ asset }}

Project name: {{ projectName }}
Duration: {{ duration }}
Interest rate: {{ interestRate }}

Lot size: {{ lotSize }}
Max lots per user: {{ maxLotsPerUser }}
Lots up limit: {{ lotsUpLimit }}
