I will notify you when locked staking for one of the following currencies becomes available:

{{ #assetsLocked }}
{{.}}
{{ /assetsLocked }}
{{ #subcribeNewAssetsLocked }}
new currency
{{ /subcribeNewAssetsLocked }}

I will notify you when DeFi staking for one of the following currencies becomes available:

{{ #assetsDefi }}
{{.}}
{{ /assetsDefi }}
{{ #subcribeNewAssetsDefi }}
new currency
{{ /subcribeNewAssetsDefi }}

{{ #subscribeActivities }}
I will also notify you when new lending activity appears on Binance.
{{ /subscribeActivities }}