{{ #followsNothing }}
No notifications set up! Use the /help command to get instructions on how to use me.
{{ /followsNothing }}
{{ #followsLocked }}
I will notify you when locked staking for one of the following currencies becomes available:

{{ #assetsLocked }}
{{.}}
{{ /assetsLocked }}
{{ #subcribeNewAssetsLocked }}
new currency
{{ /subcribeNewAssetsLocked }}
{{ /followsLocked }}

{{ #followsDefi }}
I will notify you when DeFi staking for one of the following currencies becomes available:

{{ #assetsDefi }}
{{.}}
{{ /assetsDefi }}
{{ #subcribeNewAssetsDefi }}
new currency
{{ /subcribeNewAssetsDefi }}
{{ /followsDefi }}

{{ #followsLockedSavings }}
I will notify you when Locked Savings option for one of the following currencies becomes available:

{{ #assetsLockedSavings }}
{{.}}
{{ /assetsLockedSavings }}
{{ #subscribeNewAssetsLockedSavings }}
new currency
{{ /subscribeNewAssetsLockedSavings }}
{{ /followsLockedSavings }}

{{ #subscribeActivities }}
I will also notify you when new lending activity appears on Binance.
{{ /subscribeActivities }}

{{ #hasPremium }}
Your subscription will end at <b>{{ subscriptionEndDate }}</b> (UTC time).
{{ /hasPremium }}
{{ ^hasPremium }}
<b>IMPORTANT NOTE:</b> your subscription/free trial has ended and the bot will not send any notifications to this chat.
To activate your subscription, use the /get_premium command.
{{ /hasPremium }}