You now follow these currencies:

{{ #assets }}
{{.}}
{{ /assets }}

{{ #notFound }}
These assets were not found on the list:
{{ /notFound }}

{{ #notFoundAssets }}
{{.}}
{{ /notFoundAssets }}

See your current notification settings:
/settings