{{ #subscribeNewLocked }}You will get notified whenever locked staking of a new currency appears on Binance.{{ /subscribeNewLocked }}
{{ #subscribeNewDefi }}You will get notified whenever DeFi staking of a new currency appears on Binance.{{ /subscribeNewDefi }}

{{ #found }}
You now follow these currencies:

{{ #assets }}
{{.}}
{{ /assets }}
{{ /found }}

{{ #notFound }}
These currencies were not found on the list:

{{ #notFoundAssets }}
{{.}}
{{ /notFoundAssets }}
{{ /notFound }}

See your current notification settings:
/settings