I will notify you when new lending activity appears on Binance.

{{ ^hasPremium }}
<b>IMPORTANT NOTE:</b> your subscription/free trial has ended and the bot will not send any notifications to this chat.
To activate your subscription, use the /get_premium command.
{{ /hasPremium }}

See your current notification settings:
/settings