Your subscription/free trial for Binance Staking Notification Bot has now ended.

To start the subscription again, use the /get_premium command to upgrade.

If you have any questions, you can always contact the developer at @rdruska .