{{ #unsubscribeNewLocked }}Unsubscribed new locked staking!{{ /unsubscribeNewLocked }}
{{ #unsubscribeNewDefi }}Unsubscribed new DeFi staking!{{ /unsubscribeNewDefi }}
{{ #unsubscribeNewLockedSavings }}Unsubscribed new Locked Savings options!{{ /unsubscribeNewLockedSavings }}

{{ #unsubscribedSomething }}
Successfully unsubscribed following currencies:

{{ #assets }}
{{.}}
{{ /assets }}
{{ /unsubscribedSomething }}

See your current notification settings:
/settings