Dear user of bswatcher.com,

I am writing you this email to inform you that email support for Binance staking notifications will be dropped in 7 days.

The main reason for this change is the fact the amount of emails that subscribed to the service became too huge and as a consequence the server sometimes couldn’t handle the amount of traffic. Some users were experiencing delays in emails and sometimes the messages weren’t even sent.

If you wish to receive notifications about staking on Binance I encourage you to check the Telegram bot which offers the same functionality and more. The link to bot is https://t.me/bstaking_bot .

When I was choosing a messaging platform for the bot, Telegram was the clear first choice as it’s already popular among crypto enthusiasts (being a private messenger). The fact that it’s actually used more than the email notifications confirms that it was a good choice.

If you have any questions, I’ll be happy to respond. The preferable way to contact me is via Telegram at https://t.me/rdruska or via email (less preferable) at robert.druska@bswatcher.com .

I wish you all the best

Róbert Druska
https://bswatcher.com

To unsubscribe, click the following link:
{{{ unsubscribeUrl }}}