New currency staking option has just appeared on Binance !

Currency: {{ name }}
{{ #extraAsset }}
Interest earned in: {{ extraAsset }}
{{ /extraAsset }}

Staking options:

{{ #projects }}
Duration: {{ duration }}
Est. APY: {{ annualInterestRate }}
Daily interest rate: {{ dailyInterestRate }}

{{ /projects}}

To change notifications settings, fill in the form on https://bswatcher.com and your current settings will be overwritten.

To unsubscribe, click the following link:

{{{ unsubscribeUrl }}}

--
https://bswatcher.com