I am writing to you because a staking option on {{ asset }}, which was previously sold out, is now available.

Asset: {{ asset }}
Duration: {{ duration }}
Est. APY: {{ config.annualInterestRate }}
Daily interest rate: {{ config.dailyInterestRate }}

Awesome.