Staking option on {{ asset }}, which was previously sold out, is now available.

Asset: {{ asset }}
Duration: {{ duration }}
Est. APY: {{ config.annualInterestRate }}
Daily interest rate: {{ config.dailyInterestRate }}

To change notifications settings, fill in the form on https://bswatcher.com and your current settings will be overwritten.

To unsubscribe, click the following link:

{{{ unsubscribeUrl }}}

--
https://bswatcher.com