To upgrade to premium for 1 year, send a BTC transaction according to information provided below.

<b>Amount:</b> <code>{{ amountDue }}</code> BTC
<b>Address:</b> <code>{{ destinationAddress }}</code>

The payment will be processed in seconds after you send it from your wallet, which is possible by not waiting for confirmations by the blockchain (see /faq for more information).

If you have any questions, you can always contact the developer at @rdruska .