Partial payment of <code>{{ amountPaid }}</code> BTC was received. To fulfil the transaction, send a BTC transaction with the remaining amount according to information provided below.

<b>Amount:</b> <code>{{ amountDue }}</code> BTC
<b>Address:</b> <code>{{ destinationAddress }}</code>

If you have any questions or need help, you can always contact the developer at @rdruska .