Following <b>DeFi staking</b> options on <b>{{ asset }}</b>, which were previously sold out, are now available:

{{ #projects }}
Duration: <b>{{ duration }}</b>
Est. APY: <b>{{ annualInterestRate }}</b>
Min. purchase amount: <b>{{ minPurchaseAmount }}</b>
Max. purchase amount: <b>{{ maxInvestAmount }}</b>
Left available: <b>{{ leftAvailable }}</b>

{{ /projects}}