<b>When can I expect notifications to arrive?</b>

Locked Staking options are usually updated between 00:00 – 01:00 UTC time, DeFi Staking is updated exactly at 00:00 UTC. Locked Savings of BTC and LINK is updated many times throughout the day in seemingly random times and Locked Savings of stablecoins (USDT, BUSD, USDC) is unfortunately sold out over a long term, so it's not possible to predict when a notification will be sent. New Activities usually appear in bulk once every 1-2 weeks.

<b>The bot doesn't send me any notifications for some coins, why is that?</b>

First step would be to make sure your subscription is active using the /settings command. If you have a subscription and the bot still doesn't send notifications, the reason is simple: some coins are sold out over a long term. This is particularly true of Locked Savings options of stablecoins such as USDT, BUSD and USDC. You can check exact times when (and if) given currencies became available at https://bswatcher.com/history .

<b>Why is the bot not free?</b>

Outside of 7 days of free trial, a subscription is needed for the bot to send notications. The bot used to be free but the amount of users grew so much that staking would often become sold out in minutes or even seconds. The next logical step was to give advantage to people who are willing to pay for it – also giving me, the developer, the motivation to continue with the project. You can read the full explanation behind this step at https://bswatcher.com/why-the-bot-is-not-for-free-anymore .

<b>If I use BTC to pay for the subscription, how long will it take for the transaction to be processed?</b>

Many people believe that a BTC transaction can take hours to get processed, however, this notion is not completely true. After a user sends transaction it will take only a few seconds until the transaction becomes a part of the blockchain – however, its status will be <i>unconfirmed</i> until miners validate it, which really can take minutes or hours. Since expectedly more than 99 % of the bitcoin transactions are <i>honest</i>, the approach taken here is following: consider every transaction settled even if it’s unconfirmed by the blockchain and consider it invalid only if it’s not confirmed even after a reasonable amount of time has passed. Thanks to this approach transactions can be processed in seconds.
