{{ #hasPremium }}
Your subscription will end at <b>{{ subscriptionEndDate }}</b> (UTC time).

If you update before your subscription expires, the period you purchase will be added to your remaining days – e. g. if you have 2 days left and you buy 1 week subscription, you’ll have 9 days in total.
{{ /hasPremium }}
{{ ^hasPremium }}
Your subscription/free trial has ended. To receive staking notifications you need to purchase a subscription.
{{ /hasPremium }}

The fiat payment is via card and will be processed via Telegram app and Stripe payment processing software.

The bitcoin payment can be sent from any wallet and will be processed in seconds. Please note that the bitcoin network fee (usually 0.2 - 0.6 €) is not included in the final price.

By providing the payment you accept the /terms