Available currencies for locked staking (command /subscribe):

{{ #assetsLocked }}
{{ asset_name }}
{{ /assetsLocked }}

Available currencies for DeFi staking (command /subscribe_defi):

{{ #assetsDefi }}
{{ asset_name }}
{{ /assetsDefi }}

Available currencies for Locked Savings (command /subscribe_locked_savings):

{{ #assetsLockedSavings }}
{{ asset_name }}
{{ /assetsLockedSavings }}