Following <b>Locked Savings</b> options on <b>{{ asset }}</b>, which were previously sold out, are now available:

{{ #projects }}
Duration: <b>{{ duration }}</b>
Est. APY: <b>{{ interestRate }}</b>
Lot size: <b>{{ lotSize }}</b>
Interest per lot: <b>{{ interestPerLot }}</b>
Lots available: <b>{{ lotsAvailable }}</b>

{{ /projects}}