Following Locked Savings options on {{ asset }}, which were previously sold out, are now available:

{{ #projects }}
Duration: {{ duration }}
Est. APY: {{ interestRate }}
Lot size: {{ lotSize }}
Interest per lot: {{ interestPerLot }}
Lots available: {{ lotsAvailable }}

{{ /projects}}