New Binance Launchpad project - <b>{{ projectName }}</b>!

Asset: {{ productCode }}
Project name: {{ projectName }}
Start purchase time: {{ startTime }}
{{ #hasEndTime }}End purchase time: {{ endTime }}{{ /hasEndTime }}

{{ projectDesc }}

{{ projectUrl }}