New locked staking option has just appeared on Binance!

Currency: <b>{{ name }}</b>
{{ #extraAsset }}
Interest earned in: <b>{{ extraAsset }}</b>
{{ /extraAsset }}

Staking options:

{{ #projects }}
Duration: <b>{{ duration }}</b>
Est. APY: <b>{{ annualInterestRate }}</b>
Daily interest rate: <b>{{ dailyInterestRate }}</b>

{{ /projects}}
