New currency staking option has just appeared on Binance !

Currency: {{ name }}

Staking options:

{{ #projects }}
Duration: {{ duration }}
Est. APY: {{ config.annualInterestRate }}
Daily interest rate: {{ config.dailyInterestRate }}

{{ /projects}}
