Following <b>locked staking</b> options on <b>{{ asset }}</b>, which were previously sold out, are now available:

{{ #extraAsset }}
Interest earned in: <b>{{ extraAsset }}</b>
{{ /extraAsset }}

{{ #projects }}
Duration: <b>{{ duration }}</b>
Est. APY: <b>{{ annualInterestRate }}</b>
Daily interest rate: <b>{{ dailyInterestRate }}</b>
Left available: <b>{{ leftAvailable }}</b>

{{ /projects}}
