Following staking options on {{ asset }}, which were previously sold out, are now available:

{{ #projects }}
Duration: {{ duration }}
Est. APY: {{ config.annualInterestRate }}
Daily interest rate: {{ config.dailyInterestRate }}
Left available: {{ leftAvailable }}

{{ /projects}}
