{{ #followsNothing }}
No notifications set up for <b>Locked Staking</b>, <b>DeFi Staking</b> or <b>Locked Savings</b>! Use the /help command to get instructions on how to use me.
{{ /followsNothing }}
{{ #followsLocked }}
I will notify you when <b>locked staking</b> for one of the following currencies becomes available:

{{ #assetsLocked }}
<b>{{.}}</b>
{{ /assetsLocked }}
{{ #subcribeNewAssetsLocked }}
<b>new currency</b>
{{ /subcribeNewAssetsLocked }}
{{ /followsLocked }}

{{ #followsDefi }}
I will notify you when <b>DeFi staking</b> for one of the following currencies becomes available:

{{ #assetsDefi }}
<b>{{.}}</b>
{{ /assetsDefi }}
{{ #subcribeNewAssetsDefi }}
<b>new currency</b>
{{ /subcribeNewAssetsDefi }}
{{ /followsDefi }}

{{ #followsLockedSavings }}
I will notify you when <b>Locked Savings</b> option for one of the following currencies becomes available:

{{ #assetsLockedSavings }}
<b>{{.}}</b>
{{ /assetsLockedSavings }}
{{ #subscribeNewAssetsLockedSavings }}
<b>new currency</b>
{{ /subscribeNewAssetsLockedSavings }}
{{ /followsLockedSavings }}

New activities notifications: <b>{{ activitiesStatus }}</b>
New launchpad notifications: <b>{{ launchpadStatus }}</b>

{{ #hasPremium }}
Your subscription will end at <b>{{ subscriptionEndDate }}</b> (UTC time).
{{ /hasPremium }}
{{ ^hasPremium }}
<b>IMPORTANT NOTE:</b> your subscription/free trial has ended and the bot will not send any notifications to this chat.
To activate your subscription, use the /get_premium command.
{{ /hasPremium }}