Binance Staking Notification Bot

If you follow cryptocurrency staking options on Binance, you know that the most lucrative options are usually sold out.
This bot can notify you whenever a staking option for currencies of your choosing becomes available.

Website for the project: https://bswatcher.com

Contact @rdruska if you have any questions about this bot.

Join our community: @bswatcher

-----

Following commmands are available:

/list - displays list of currencies available for notifications (i.e. all currencies that can be staked on Binance)
/subscribe - set up notifications for a given currency (locked staking)
/subscribe_defi - set up notifications for a given currency (DeFi staking)
/subscribe_locked_savings - set up notifications for a given currency (Locked Savings)
/unsubscribe - turn off notifications for a given currency (locked staking)
/unsubscribe_defi - turn off notifications for a given currency (DeFi staking)
/unsubscribe_locked_savings - turn off notifications for a given currency (Locked Savings)
/subscribe_activities - set up notifications for new "lending activities" ( https://binance.com/en/savings )
/unsubscribe_activities - turn off notifications for new "lending activities"
/settings - your current notification settings
/help - displays list of available commands
/support - contact support (developer of the bot)
/get_premium - upgrade your account to premium
/terms - terms and conditions concerning payments for premium

For example, to get notified whenever locked staking of BNB or ADA becomes available, write me the following message:

/subscribe bnb ada

To get notified whenever DeFi staking of BTC becomes available, write me the following message:

/subscribe_defi btc

To get notification whenever locked staking of a new currency appears on Binance, write me the following message:

/subscribe new

Same with DeFi staking:

/subscribe_defi new

To get notified whenever new lending activity appears on Binance (tab Activities at https://binance.com/en/savings), write me the following message:

/subscribe_activities