Please enter at least one currency to subscribe ! E.g.:

{{ #locked }}/subscribe ada{{ /locked }}{{ #defi }}/subscribe_defi btc{{ /defi }}{{ #lockedSavings }}/subscribe_locked_savings btc{{ /lockedSavings }}

<i>(Tip: press and hold the command in this message to copy it)</i>