I will notify you when new launchpad project appears on Binance (at https://launchpad.binance.com).

{{ ^hasPremium }}
<b>IMPORTANT NOTE:</b> your subscription/free trial has ended and the bot will not send any notifications to this chat.
To activate your subscription, use the /get_premium command.
{{ /hasPremium }}

See your current notification settings:
/settings