<b>IMPORTANT NOTE:</b> the bot will soon no longer be for free.

After 4 months and thousands of users who cluttered the system, I've decided to no longer offer this service to everyone for free. You can read the full explanation of this step in this blog: https://bswatcher.com/why-the-bot-is-not-for-free-anymore .

All users are granted free trial for 7 days from the moment of sending this message and then the bot will stop working for users who did not upgrade. You can upgrade via the /get_premium command. You'll be able to upgrade any time in the future.

If you have any questions, you can always contact the developer at @rdruska .