<b>ANNOUNCEMENT:</b>

You can now pay for the bot subscription with bitcoin. The command to use is /get_premium .

In the first 3 days since this message, there’s a <b>50 % discount</b> for 1 year subscription – it costs 15 € + the network fee, which is usually 0.2 – 0.6 €. The payment will be processed immediately, regardless of the fee (see /faq for an explanation), therefore it’s not necessary to set the fee to higher than the recommended value.

If you have any questions, you can always contact the developer at @rdruska .

Thank you for your support.