DeFi staking option for a new currency has just appeared on Binance !

Currency: {{ name }}

Staking options:

{{ #projects }}
Duration: FLEXIBLE
Est. APY: {{ annualInterestRate }}
Min. purchase amount: {{ minPurchaseAmount }}
Max. purchase amount: {{ maxInvestAmount }}

{{ /projects}}

To change notifications settings, fill in the form on https://bswatcher.com and your current settings will be overwritten.

To unsubscribe, click the following link:

{{{ unsubscribeUrl }}}

--
https://bswatcher.com